.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

/*style specs for frog button*/
.frogClicker {
  width: 400px;
  height: 400px;
  background-image: url("./src/assets/frogFace.jpg");
  background-size: cover;
  border: 3px solid #4caf50;
  border-radius: 15px;
  cursor: pointer;
  margin: 10px;
}
